<div class="container">
    <div class="row">
        <div class="col-md">

            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">Lets Eat Some Burger's</h1>
                </div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="card text-white bg-primary">
                <h5 class="card-header">
                    Burgers to be devoured
                </h5>
                <div class="card-body">
                    <ul>
                    {{#each burgers}}
                       {{#unless devoured}}
                          <p>{{id}}. {{burger_name}} <button class="devoured btn btn-danger" data-id="{{id}}">EAT ME</button> </p>
                          
                        {{/unless}}
                    {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="card text-white bg-danger mb-3">
                <h5 class="card-header">
                    Burgers Devoured
                </h5>
                <div class="card-body">
                    <ul>
                    {{#each burgers}}
                        {{#if devoured}}
                            <p>{{id}}. {{burger_name}}</p>
                        {{/if}}
                    {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row" id="row2">
        <div class="col-md">
            <div class="card">
                <h4 class="card-header">
                    Add a Burger
                </h4>
                <div class="card-body">
                    <form class="create-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Burger">Type Of Burger:</label>
                                    <input type="text" id="burger" name="name" style="width: 75%; margin-top: 5px">
                                </div>
                            </div>
                            <div class="col-md">
                                <button type="submit" class="btn btn-primary" style="width: 100%">Burger</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




